:root{
  --header: #356177;
  --grid: #FE7F2D;
  --bigBody: #FCCA46;
  --button: #AFB3F7;
  --textShadow: #171A21;
  --fontColor: white;

  --externalShadowSize: 0.2em;
  --internalShadowSize: 0.3em;
  --textShadowSize: 0.2em
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  transition: 0.5s;
}

.flexCHV{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  :root{
    --header: #a1873d;
    --grid: #A1C181;
    --bigBody: #233D4D;
    --button: #9b5627;
    --textShadow: #171A21;
    --article: #619B8A;
    --fontColor: white;
    --gridItem: #619B8A;
  }
}

@media (prefers-color-scheme: light) {
  :root{
    --header: #356177;
    --buttonBack: #FE7F2D;
    --mustardYellow: #FCCA46;
    --dryMintGreen: #A1C181;
    --warmSeaGreen: #619B8A;
    --fontColor: white;
  }
}